<div class="container">


    <section class="gallery">
        <figure class="gallery__item gallery__item--1"><img src="../../assets/img/azed3.PNG" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--2"><img src="../../assets/img/Capture.PNG" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--3"><img src="../../assets/img/azed6.PNG" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--4"><img src="../../assets/img/feedback.PNG" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--5"><img src="../../assets/img/book.PNG" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--6"><img src="../../assets/img/former beauty.png" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--7"><img src="../../assets/img/feedback.PNG" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--8"><img src="../../assets/img/azed4.PNG" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--9"><img src="../../assets/img/azed8.PNG" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--10"><img src="../../assets/img/Untitled.png" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--11"><img src="../../assets/img/journal.PNG" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--12"><img src="../../assets/img/azed9.PNG" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--13"><img src="../../assets/img/setting.PNG" alt="top-story" class="gallery__img"></figure>

    </section>

        
</div>


