<div class="container">


    <section class="gallery">
        <figure class="gallery__item gallery__item--1"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--2"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--3"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--4"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--5"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--6"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--7"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--8"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--9"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--10"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--11"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--12"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--13"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--14"><img src="../../assets/img/backgimg3.jpg" alt="top-story" class="gallery__img"></figure>


    </section>

    <div class="notice">
            <h3>Please note that the data's displayed are not correct it was only used for testing</h3>
    </div>

    <section class="result u-margin-top-big">
        <div class="result__row">
            <div class="result__filter">
                <div class="result__group">
                    <!-- <label for="cars" class="result__label">Choose a car:</label> -->
                    <button class="dropdown" (click)="onDay1()" [class.active]="isDay1">
                        <a class="dropbtn">
                            Days
                        </a>
                        <ul class="dropdown-content">
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt1" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt2" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt3" class="result__filter--label">Days</label>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt4" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                        </ul>
                    </button>
                    
                    <div class="result__select-icon">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>

                <div class="result__group">
                    <!-- <label for="cars" class="result__label">Choose a car:</label> -->
                    <button class="dropdown" (click)="onDay2()" [class.active]="isDay2">
                        <a class="dropbtn">
                            Days
                        </a>
                        <ul class="dropdown-content">
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt1" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt2" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt3" class="result__filter--label">Days</label>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt4" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                        </ul>
                    </button>
                    
                    <div class="result__select-icon">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>

                <div class="result__group">
                    <!-- <label for="cars" class="result__label">Choose a car:</label> -->
                    <button class="dropdown" (click)="onDay3()" [class.active]="isDay3">
                        <a class="dropbtn">
                            Days
                        </a>
                        <ul class="dropdown-content">
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt1" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt2" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt3" class="result__filter--label">Days</label>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt4" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                        </ul>
                    </button>
                    
                    <div class="result__select-icon">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>

                <div class="result__group">
                    <!-- <label for="cars" class="result__label">Choose a car:</label> -->
                    <button class="dropdown" (click)="onDay4()" [class.active]="isDay4">
                        <a class="dropbtn">
                            Days
                        </a>
                        <ul class="dropdown-content">
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt1" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt2" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt3" class="result__filter--label">Days</label>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt4" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                        </ul>
                    </button>
                    
                    <div class="result__select-icon">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>

                <div class="result__group">
                    <!-- <label for="cars" class="result__label">Choose a car:</label> -->
                    <button class="dropdown" (click)="onDay5()" [class.active]="isDay5">
                        <a class="dropbtn">
                            Days
                        </a>
                        <ul class="dropdown-content">
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt1" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt2" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt3" class="result__filter--label">Days</label>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <input class="result__filter--input" name="days" type="radio" id="opt1" checked>
                                    <label for="opt4" class="result__filter--label">Days</label>
                                </a>
                            </li>
            
                        </ul>
                    </button>
                    
                    <div class="result__select-icon">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                
            </div>
            <div class="result__events">
                <div class="result__event">
                    <p class="result__event--date">Mon, 31 Aug - Wed, 02 sep 2020</p>
                    <div class="result__event--logoediloc">
                        <img src="../../assets/img/backgimg1.jpg" alt="logo" class="result__event--logo">
                        <p class="result__event--edition">3rd edition</p>
                        <p class="result__event--venue">
                            online
                            <i class="fas fa-podcast"></i>
                        </p>
                    </div>
                    <h3 class="result__event--name">Techpoint Build (TechpointBuild)</h3>
                    <p class="result__event--sologan">The largest tech and startup conference in Africa</p>
                    <div class="result__event--related">
                        <button>conference</button>
                        <button>Science & Research</button>
                        <button>IT & Technology</button>
                        <button>Innovation</button>
                    </div>
                    <div class="result__event--details">
                        <div class="result__event--popularity">
                            <button class="result__event--action">
                                <i class="fas fa-star"></i>
                                Interested
                            </button>
                            <div class="result__event--following">
                                <i class="fas fa-bolt"></i>
                                799 following
                            </div>
                            <button class="result__event--rating">
                                <i class="fas fa-star"></i>
                                4.5
                            </button>
                        </div>
                        <div class="result__event--actions">
                            <div class="result__event--share">
                                <i class="fas fa-share"></i>
                            </div>
                            <div class="result__event--bookmark">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result__event">
                    <p class="result__event--date">Mon, 31 Aug - Wed, 02 sep 2020</p>
                    <div class="result__event--logoediloc">
                        <img src="../../assets/img/backgimg1.jpg" alt="logo" class="result__event--logo">
                        <p class="result__event--edition">3rd edition</p>
                        <p class="result__event--venue">
                            online
                            <i class="fas fa-podcast"></i>
                        </p>
                    </div>
                    <h3 class="result__event--name">Techpoint Build (TechpointBuild)</h3>
                    <p class="result__event--sologan">The largest tech and startup conference in Africa</p>
                    <div class="result__event--related">
                        <button>conference</button>
                        <button>Science & Research</button>
                        <button>IT & Technology</button>
                        <button>Innovation</button>
                    </div>
                    <div class="result__event--details">
                        <div class="result__event--popularity">
                            <button class="result__event--action">
                                <i class="fas fa-star"></i>
                                Interested
                            </button>
                            <div class="result__event--following">
                                <i class="fas fa-bolt"></i>
                                799 following
                            </div>
                            <button class="result__event--rating">
                                <i class="fas fa-star"></i>
                                4.5
                            </button>
                        </div>
                        <div class="result__event--actions">
                            <div class="result__event--share">
                                <i class="fas fa-share"></i>
                            </div>
                            <div class="result__event--bookmark">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result__event">
                    <p class="result__event--date">Mon, 31 Aug - Wed, 02 sep 2020</p>
                    <div class="result__event--logoediloc">
                        <img src="../../assets/img/backgimg1.jpg" alt="logo" class="result__event--logo">
                        <p class="result__event--edition">3rd edition</p>
                        <p class="result__event--venue">
                            online
                            <i class="fas fa-podcast"></i>
                        </p>
                    </div>
                    <h3 class="result__event--name">Techpoint Build (TechpointBuild)</h3>
                    <p class="result__event--sologan">The largest tech and startup conference in Africa</p>
                    <div class="result__event--related">
                        <button>conference</button>
                        <button>Science & Research</button>
                        <button>IT & Technology</button>
                        <button>Innovation</button>
                    </div>
                    <div class="result__event--details">
                        <div class="result__event--popularity">
                            <button class="result__event--action">
                                <i class="fas fa-star"></i>
                                Interested
                            </button>
                            <div class="result__event--following">
                                <i class="fas fa-bolt"></i>
                                799 following
                            </div>
                            <button class="result__event--rating">
                                <i class="fas fa-star"></i>
                                4.5
                            </button>
                        </div>
                        <div class="result__event--actions">
                            <div class="result__event--share">
                                <i class="fas fa-share"></i>
                            </div>
                            <div class="result__event--bookmark">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result__event">
                    <p class="result__event--date">Mon, 31 Aug - Wed, 02 sep 2020</p>
                    <div class="result__event--logoediloc">
                        <img src="../../assets/img/backgimg1.jpg" alt="logo" class="result__event--logo">
                        <p class="result__event--edition">3rd edition</p>
                        <p class="result__event--venue">
                            online
                            <i class="fas fa-podcast"></i>
                        </p>
                    </div>
                    <h3 class="result__event--name">Techpoint Build (TechpointBuild)</h3>
                    <p class="result__event--sologan">The largest tech and startup conference in Africa</p>
                    <div class="result__event--related">
                        <button>conference</button>
                        <button>Science & Research</button>
                        <button>IT & Technology</button>
                        <button>Innovation</button>
                    </div>
                    <div class="result__event--details">
                        <div class="result__event--popularity">
                            <button class="result__event--action">
                                <i class="fas fa-star"></i>
                                Interested
                            </button>
                            <div class="result__event--following">
                                <i class="fas fa-bolt"></i>
                                799 following
                            </div>
                            <button class="result__event--rating">
                                <i class="fas fa-star"></i>
                                4.5
                            </button>
                        </div>
                        <div class="result__event--actions">
                            <div class="result__event--share">
                                <i class="fas fa-share"></i>
                            </div>
                            <div class="result__event--bookmark">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result__event">
                    <p class="result__event--date">Mon, 31 Aug - Wed, 02 sep 2020</p>
                    <div class="result__event--logoediloc">
                        <img src="../../assets/img/backgimg1.jpg" alt="logo" class="result__event--logo">
                        <p class="result__event--edition">3rd edition</p>
                        <p class="result__event--venue">
                            online
                            <i class="fas fa-podcast"></i>
                        </p>
                    </div>
                    <h3 class="result__event--name">Techpoint Build (TechpointBuild)</h3>
                    <p class="result__event--sologan">The largest tech and startup conference in Africa</p>
                    <div class="result__event--related">
                        <button>conference</button>
                        <button>Science & Research</button>
                        <button>IT & Technology</button>
                        <button>Innovation</button>
                    </div>
                    <div class="result__event--details">
                        <div class="result__event--popularity">
                            <button class="result__event--action">
                                <i class="fas fa-star"></i>
                                Interested
                            </button>
                            <div class="result__event--following">
                                <i class="fas fa-bolt"></i>
                                799 following
                            </div>
                            <button class="result__event--rating">
                                <i class="fas fa-star"></i>
                                4.5
                            </button>
                        </div>
                        <div class="result__event--actions">
                            <div class="result__event--share">
                                <i class="fas fa-share"></i>
                            </div>
                            <div class="result__event--bookmark">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result__event">
                    <p class="result__event--date">Mon, 31 Aug - Wed, 02 sep 2020</p>
                    <div class="result__event--logoediloc">
                        <img src="../../assets/img/backgimg1.jpg" alt="logo" class="result__event--logo">
                        <p class="result__event--edition">3rd edition</p>
                        <p class="result__event--venue">
                            online
                            <i class="fas fa-podcast"></i>
                        </p>
                    </div>
                    <h3 class="result__event--name">Techpoint Build (TechpointBuild)</h3>
                    <p class="result__event--sologan">The largest tech and startup conference in Africa</p>
                    <div class="result__event--related">
                        <button>conference</button>
                        <button>Science & Research</button>
                        <button>IT & Technology</button>
                        <button>Innovation</button>
                    </div>
                    <div class="result__event--details">
                        <div class="result__event--popularity">
                            <button class="result__event--action">
                                <i class="fas fa-star"></i>
                                Interested
                            </button>
                            <div class="result__event--following">
                                <i class="fas fa-bolt"></i>
                                799 following
                            </div>
                            <button class="result__event--rating">
                                <i class="fas fa-star"></i>
                                4.5
                            </button>
                        </div>
                        <div class="result__event--actions">
                            <div class="result__event--share">
                                <i class="fas fa-share"></i>
                            </div>
                            <div class="result__event--bookmark">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result__event">
                    <p class="result__event--date">Mon, 31 Aug - Wed, 02 sep 2020</p>
                    <div class="result__event--logoediloc">
                        <img src="../../assets/img/backgimg1.jpg" alt="logo" class="result__event--logo">
                        <p class="result__event--edition">3rd edition</p>
                        <p class="result__event--venue">
                            online
                            <i class="fas fa-podcast"></i>
                        </p>
                    </div>
                    <h3 class="result__event--name">Techpoint Build (TechpointBuild)</h3>
                    <p class="result__event--sologan">The largest tech and startup conference in Africa</p>
                    <div class="result__event--related">
                        <button>conference</button>
                        <button>Science & Research</button>
                        <button>IT & Technology</button>
                        <button>Innovation</button>
                    </div>
                    <div class="result__event--details">
                        <div class="result__event--popularity">
                            <button class="result__event--action">
                                <i class="fas fa-star"></i>
                                Interested
                            </button>
                            <div class="result__event--following">
                                <i class="fas fa-bolt"></i>
                                799 following
                            </div>
                            <button class="result__event--rating">
                                <i class="fas fa-star"></i>
                                4.5
                            </button>
                        </div>
                        <div class="result__event--actions">
                            <div class="result__event--share">
                                <i class="fas fa-share"></i>
                            </div>
                            <div class="result__event--bookmark">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result__event">
                    <p class="result__event--date">Mon, 31 Aug - Wed, 02 sep 2020</p>
                    <div class="result__event--logoediloc">
                        <img src="../../assets/img/backgimg1.jpg" alt="logo" class="result__event--logo">
                        <p class="result__event--edition">3rd edition</p>
                        <p class="result__event--venue">
                            online
                            <i class="fas fa-podcast"></i>
                        </p>
                    </div>
                    <h3 class="result__event--name">Techpoint Build (TechpointBuild)</h3>
                    <p class="result__event--sologan">The largest tech and startup conference in Africa</p>
                    <div class="result__event--related">
                        <button>conference</button>
                        <button>Science & Research</button>
                        <button>IT & Technology</button>
                        <button>Innovation</button>
                    </div>
                    <div class="result__event--details">
                        <div class="result__event--popularity">
                            <button class="result__event--action">
                                <i class="fas fa-star"></i>
                                Interested
                            </button>
                            <div class="result__event--following">
                                <i class="fas fa-bolt"></i>
                                799 following
                            </div>
                            <button class="result__event--rating">
                                <i class="fas fa-star"></i>
                                4.5
                            </button>
                        </div>
                        <div class="result__event--actions">
                            <div class="result__event--share">
                                <i class="fas fa-share"></i>
                            </div>
                            <div class="result__event--bookmark">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        
</div>


