<div class="container">
    <div class="booking">

        <div class="book-form">


            <form action="" class="form">
    
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="Pick-up Location" id="pickuplocation" required>
                    <label for="pickuplocation" class="form__label">Pick-up Location</label>
                </div>
        
                <div class="form__group">
                    <input type="datetime-local" class="form__input" placeholder="Pick-up Date" id="pickupdate" required>
                    <label for="pickupdate" class="form__label">Pick-up Date</label>
                </div>

                <div class="form__group">
                    <input type="datetime-local" class="form__input" placeholder="Drop-off Date" id="dropoffdate" required>
                    <label for="dropoffdate" class="form__label">Drop-off Date</label>
                </div>

                <div class="form__btn">
                    <a routerLink="available">
                        <button class="btn btn--green bold">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                    </a>
                </div>
        
            </form>
        </div>



    </div>


    <section class="stories u-margin-top-big">
        <div class="stories__head">
            <h2 class="stories__top">Top Stories</h2>
            <a href="#" class="stories__see-all">see all</a>    
        </div>
        
        <div class="top-stories">
            <div class="top-story">
                <img src="../../assets/img/backgimg3.jpg" alt="top-story" class="top-story__img">
                <h2 class="top-story__name">Top Story</h2>
            </div>
        
            <div class="top-story">
                <img src="../../assets/img/backgimg3.jpg" alt="top-story" class="top-story__img">
                <h2 class="top-story__name">Top Story</h2>
            </div>
        
        
            <div class="top-story">
                <img src="../../assets/img/backgimg3.jpg" alt="top-story" class="top-story__img">
                <h2 class="top-story__name">Top Story</h2>
            </div>
        </div>
    </section>

    

    <section class="destinations u-margin-top-big">
        <div class="destinations__head">
            <h2 class="destinations__top">Top Destination</h2>
            <a href="#" class="destinations__see-all">see all</a>    
        </div>
            
        <div class="top-destinations">
            <div class="top-destination">
                <img src="../../assets/img/backgimg3.jpg" alt="top-destination" class="top-destination__img">
                <h2 class="top-destination__name">Top Destination</h2>
                <p class="top-destination__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus deleniti, quasi quis minus adipisci quas blanditiis consectetur porro.
                </p>
            </div>
        
        
            <div class="top-destination">
                <img src="../../assets/img/backgimg3.jpg" alt="top-destination" class="top-destination__img">
                <h2 class="top-destination__name">Top Destination</h2>
                <p class="top-destination__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus deleniti, quasi quis minus adipisci quas blanditiis consectetur porro.
                </p>
            </div>
    
    
            <div class="top-destination">
                <img src="../../assets/img/backgimg3.jpg" alt="top-destination" class="top-destination__img">
                <h2 class="top-destination__name">Top Destination</h2>
                <p class="top-destination__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus deleniti, quasi quis minus adipisci quas blanditiis consectetur porro.
                </p>
            </div>
        </div>
                
    </section>

        
</div>


